
@font-face {
src: url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
font-family: Rubik Mono One;
font-style: normal;
font-weight: normal;
font-size: 48px;
}

@font-face{
src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
}

@font-face{
	src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Condensed:wght@500&display=swap");
	font-family: 'Saira Condensed';
	font-style: normal;
	font-weight: 500;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.jordanhead{
width: 100%;
height: auto;
display: block;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: black;
}

.header {
background-color: #120B0A;
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
padding: 0 15px;
}
.cart{
  max-width:40px ;
  max-height: 40px;
  margin-right: 4px;
}
.list{
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jordan2{
  display: block;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.list a{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9em;
  color: black;
  background-color: #fff;
  display: inline-block;
}

  .main {
  min-height: 1000px;
  width: 100%;

}

.flight{
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
  margin-top: 83px;
  margin-bottom: 40px;
  width: 100%;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-gap: 35px;
}

.weaponblock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

footer{
  margin-top: 50px;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

img.footlog{
  display: block;
  width: 100%;
  height: auto;
}

  .location{
  display: block;
  width: 100%;
  height: auto;
}

  .contacts{
  display: block;
  width: 100%;
  height: auto;
}
  .socialnet{
  display: block;
  width: 100%;
  height: auto;
}
  .weapon{
  display: block;
  width: 100%;
  height: auto;
  }
  .describe{
    font-size: 1.4em;
    color: #ffffff;
  }

@media screen and (max-width: 800px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px){
  .wrapper{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:375px){
.list a{
  font-size: 1.35em;    
}
.header{
  align-items: center;
  padding: 0 10px;
}
img.inst{
width: 9%;
}
img.cart{
  width: 40%;
}
div.box1{

}
img.jordanhead{
  width: 100%;
}
div.jordanheadbox{
  margin: 0 15px;
  margin-left: 15px;
  width: 75%;
}
}